// +build wireinject
// The build tag makes sure the stub is not built in the final build.

package wire

import (
	"{{.ProjectName}}/{{.ServiceName}}/internal/db"
	"{{.ProjectName}}/{{.ServiceName}}/internal/server"
	"{{.ProjectName}}/{{.ServiceName}}/internal/service"
	"github.com/inkbamboo/ares/libraries/config"
	"github.com/google/wire"
)

var initProvider = wire.NewSet(config.NewConfig, db.NewMysqlClient, db.NewRedisClient)
var svcProvider = wire.NewSet(service.NewBoxService)
var httpProvider = wire.NewSet(server.InitRouter, server.NewHttpServer)

//go:generate wire
func InitApp() (*App, func(), error) {
	panic(wire.Build(
		initProvider,
		svcProvider,
		httpProvider,
		NewApp,
	))
}
