package server

import (
	"{{.ProjectName}}/{{.ServiceName}}/internal/controller/web"
	"{{.ProjectName}}/{{.ServiceName}}/internal/service"
	"github.com/inkbamboo/ares/libraries/mdw"

	"github.com/kataras/iris/v12"
	"github.com/kataras/iris/v12/mvc"
	"github.com/spf13/viper"
)

func InitRouter(boxService service.BoxService, v *viper.Viper) (app *iris.Application, err error) {
	app = newIris(v)
	apiParty := mvc.New(app.Party("/api",
		mdw.CORS([]string{"*"})).AllowMethods(iris.MethodOptions),
	)
	apiParty.Register(boxService)
	mvc.Configure(app.Party("/box")).Handle(new(web.BoxController))
	return
}