package server

import (
    "github.com/inkbamboo/ares/libraries/mdw"
	"github.com/kataras/iris/v12"
	"github.com/kataras/iris/v12/middleware/logger"
	"github.com/kataras/iris/v12/middleware/recover"
	"github.com/sirupsen/logrus"
	"github.com/spf13/viper"
	"net/http"
	"time"
)

func NewHttpServer(irisApp *iris.Application, v *viper.Viper) (h *http.Server, err error) {
	serverConfig := v.Sub("server")
	if err = irisApp.Build(); err != nil {
		logrus.Println(err.Error())
	}
	h = &http.Server{
		Addr:         v.GetString("Server.Addr"),
		Handler:      irisApp,
		ReadTimeout:  time.Duration(serverConfig.GetInt64("ReadTimeout")),
		WriteTimeout: time.Duration(serverConfig.GetInt64("WriteTimeout")),
		IdleTimeout:  time.Duration(serverConfig.GetInt64("IdleTimeout")),
	}
	logrus.Printf("HTTP服务已启动 [ http://%s ]", serverConfig.GetString("Addr"))
	return
}

func newIris(v *viper.Viper) (e *iris.Application) {
	e = iris.New()
	customLogger := logger.New(logger.Config{
		Status: true, IP: true, Method: true, Path: true, Query: true,
		//MessageHeaderKeys: []string{"User-Agent"},
	})
	e.OnAnyErrorCode(customLogger)
	e.Use(customLogger, recover.New())
	e.Logger().SetLevel(v.GetString("IrisLogLevel"))

	// Swagger
	handle := mdw.SwaggerHandler("http://127.0.0.1:8000/swagger/doc.json")
	e.Get("/swagger/*any", handle)

	e.Use(func(ctx iris.Context) {
		ctx.Gzip(v.GetBool("enableGzip"))
		ctx.Next()
	})

	return
}
